@import "sharedstyles.css";

/* *{
    padding:0;
    margin:0;
    font-family: sans-serif, Uniform;
    font-size: 45.6px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1.5px;
    line-height: 36px;
    text-transform: none;
} */
.header {
    background-color: transparent;
    position: sticky;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.45);
    top:0px;
    z-index:10;
}
.header .logo{
    height: 80px;
    width: 100px;
    margin: 10px 0;
    margin-left: 20px;
    background:  url(../img/FhLogo.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

.header .navLinks{
    padding: 0px;
    margin: 0PX;
    line-height: 100PX;
}
.header .navLinks li{
    margin-right: 25px;
    font-size: 1.2rem;
}
.header .navLinks li::after{
    content: '';
  
}

.header .navLinks li::before{
    content: '';
}
.header .menu{
    display: none;
}

.mobileNav{
    display: none;
}

ul li {
    display:inline-block;
    color: white;
    
}
.content {
    background-color: blueviolet;
    background-size: cover; 
    padding: 300px;
 
  
}
.gym {
    text-align: center;
    color: white;
    
}
.mid-content {
    padding-top: 100px;
    padding-bottom: 100px;
}
.grid-container {
    display: grid;
    grid-gap: 0;
    grid-row: 0;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 0;  
}
.grid-container img {
    width:100%;
}